html {
	font size: 20px;
}
			h1, h2, h3 {
				background-color: black;
				color: #ffffff;
				font-family
			}
			.myClass {
				background-color: blue;
			}
			.header1 {
				text-transform: uppercase;
			}
			#siteHeader {
				text-decoration: underline;
			}
			[target="_blank"] {
				text-decoration: underline;
				color: green;
			}
			.pink-text {
				color: pink;
			}
		</style>
